@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-90deg, lightblue, black);
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 120px auto;
  background: #fff;
  padding: 25px 30px;
  border-radius: 6px;
}
.form-group {
  margin: 10px;
}
input {
  width: 100%;
  border: solid 1px #eee;
  padding: 15px 10px;
}
button {
  width: 200px;
  padding: 15px;
  margin-left: 250px;
  background: #fff;
  color: dodgerblue;
  border: solid 1px dodgerblue;
  cursor: pointer;
  transition: all 0.38s ease-in-out;
}
button:hover {
  background: dodgerblue;
  color: #fff;
}
table tr td {
  border: solid 1px #eee;
  padding: 10px;
}
table tbody tr .icon{
    width: 45px;
    background-color: rebeccapurple;
}
