@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(-90deg, lightblue, black);
}
.container {
  max-width: 800px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 6px;
}
.container header {
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
.container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(90deg, rgb(166, 187, 194), rgb(15, 15, 15));
}
.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
form .user-details .input-box {
  width: calc(100% / 2 - 20px);
  margin-top: 4px;
  margin-bottom: 15px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(31, 27, 27, 0.404);
  margin-left: 5px;
  padding-left: 10px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box .details {
  font-size: 20px;
  font-weight: 500;
  display: block;
}
form .gender-details .gender-title {
  font-size: 25px;
  font-weight: 500;
}
form .gender-details .category {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px 0;
}
.gender-details .category label {
  display: flex;
  align-items: center;
}
.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 7px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background-color: black;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin-top: 25px;
}
form .button input {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  outline: none;
  background: linear-gradient(-90deg, rgb(166, 187, 194), rgb(15, 15, 15));
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
}
form .button input:hover {
  opacity: 0.9;
  cursor: pointer;
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    width: 100%;
    margin-bottom: 15px;
  }
  form .gender-details .category {
    width: 100%;
  }
  .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 0;
  }
}
