@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-image: url(images/bg-image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
}
.container {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgb(49, 46, 46);
}
.container header {
  font-size: 30px;
  font-weight: 600;
}
.container .inputField {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.inputField input {
  width: 85%;
  height: 100%;
  outline: none;
  color: black;
  font-weight: 800;
  border-radius: 3px;
  border: 1px solid rgb(155, 144, 144);
  padding-left: 15px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.inputField input:focus {
  background-color: rgb(241, 243, 243);
  color: rgb(42, 38, 38);
  font-weight: 700;
}
.inputField button {
  width: 50px;
  height: 100%;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
  outline: none;
  opacity: 0.6;
  background: rgb(46, 151, 192);
  transition: all 0.3s ease;
}
.inputField button:hover {
  background: rgb(25, 92, 136);
}
.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}
.container .todoList {
  max-height: 250px;
  color: black;
  font-size: 20px;
  font-weight: 900;
  overflow-y: auto;
}
.todoList li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
.todoList li .icon {
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.todoList li:hover .icon {
  right: 0px;
}
.container .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  margin-left: 5px;
  background-color: rgb(235, 26, 26);
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer button:hover {
  background-color: red;
}
.footer span {
  color: black;
  font-weight: 900;
}
.footer button.active {
  opacity: 1;
  pointer-events: auto;
}
::selection {
  color: #ffff;
  background: rgb(135, 117, 214);
}
@media only screen and (max-width: 600px) {
  body {
    background: linear-gradient(-90deg, lightblue, black);
  }
}
